
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
    <title>AboutUs</title>
</head>
<body>

    <div class="container">

        <div class="well">
            <div class="jumbotron">
                <h1>About Us</h1>
                <p>
                    Dalilak is an online search engine that will easly connect you to your target with a single click.
                    Our team was able to gather everything by organising them into categories due to the ????? knowledge that we had
                    of every single business such as hospitals,restraunts,gas stations and organization ect.
                    Dalilak builds releationships by helping Egyptians to have easier access on goals and services arround them which will
                    also give a sense of safty and security by showing the website and the images and reviews that are available that will
                    eventually lead you to take the best choice.
                </p>
            </div>
        </div>

        <div class="well">
            <div class="jumbotron">
                <h1>Our mission</h1>
                <p>
                    our project aims to helps citizens to find all sorts of services they may need.
                    We ensure the best facilities according to personal satisfaction where they can find sites for each and
                    the facilities with numerous reviews.
                    Unlike many websites we tried of focus on the availablity of people have ???  finding.
                </p>
            </div>
        </div>
            

</body>
</html>
