<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Dalilak</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" type="image/x-icon" href="~/img/.png">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slicknav.css">
    <link rel="stylesheet" href="~/css/style.css">

    <style type="text/css">

        .style1 {
            color: #FFFFFF
        }
    </style>
</head>

<body>


    <div class="header-area ">
        <div id="sticky-header" class="main-header-area">
            <div class="container-fluid p-0">
                <div class="row align-items-center no-gutters">
                    <div class="col-xl-2 col-lg-2">
                        <div class="logo-img"> <a href="index.html"> <img src="~/img/x1.png" alt=""> </a> </div>
                    </div>
                    <div class="col-xl-7 col-lg-7">
                        <div class="main-menu  d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    <li><a class="active" href="/home/index">home</a></li>

                                    <li>
                                        <a href="#">Region <i class="ti-angle-down"></i></a>
                                        <ul class="submenu">
                                            @foreach (var area in Helpers.LoadAreas())
                                            {
                                                <li><a href="/home/cats?areaId=@area.Id">@area.AreaName</a></li>
                                            }

                                        </ul>
                                    </li>
                                    <li><a href="/Suggeset/index">Suggest</a></li>
                                    <li><a href="About Us.html">About Us</a></li>
                                </ul>

                            </nav>


                        </div>
                    </div>

                </div>
                <div class="col-12">
                    <div class="mobile_menu d-block d-lg-none"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- header-end -->
    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="single_slider d-flex align-items-right justify-content-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-xl-9">
                        <div class="slider_text text-center">

                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>
                            </br>


                          




                            <div class="find_dowmain">
                                @using (Html.BeginForm("Search", "Home", FormMethod.Post, new { @class = "" }))
                                {

                                    <div class="form-group">

                                        <div class="col-md-10">
                                            @Html.TextBox("Keyword", null, new { placeholder = "Find your Needs", @class = "form-control" })
                                        </div>
                                    </div>

                                    <div class="form-group">

                                        <div class="col-md-10">
                                            @Html.DropDownList("category", (List<SelectListItem>)ViewBag.cats, null, new { @class = "form-control", placeholder = "Find your Needs" })
                                        </div>
                                    </div>


                                    <div class="form-group">

                                        <div class="col-md-10">
                                            <button class="btn btn-primary" type="submit">Search</button>
                                        </div>
                                    </div>




                                }
                                @*<form action="#" class="find_dowmain_form">
            <input type="text" placeholder="Find your Needs">
            <button type="search">Search</button>
        </form>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    <!-- prising_area_start -->
    <!-- prising_area_end -->
    <!-- core_features_start -->
    <div class="core_features">
        <div class="container">
            <div class="border-bottm">
                <div class="row"></div>
            </div>
            <div class="row"></div>
        </div>
    </div>


    <div class="data_center_area">
        <div class="container">
            <div class="row"></div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="location">
                        <div class="pulse_group">


                            <div class="address_on_hover d-none d-lg-block">
                                <div class="address_inner">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                            </div>
                            </span>
                        </div>


                    </div>
                </div>
            </div>
        </div>


        <!-- faq_area_start -->
        <!-- faq_area_end -->
        <!-- latest_new_area_start -->



        <div class="col-xl-4 col-md-6 col-lg-4">
            <div class="single_news">
                <div class="thumb">
                    <a href="#"></a>
                </div>
                <div class="news_content">
                    <div class="news_meta"></div>
                    <p class="news_info">&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- latest_new_area_end -->
    <!-- lets_launch_start -->
    <footer class="footer">
        <div class="copy-right_text"></div>
    </footer>
    <!-- footer -->
    <!-- link that opens popup -->
    <!-- form itself end-->
    @*<form id="test-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <div class="logo text-center">
                    <a href="#"></a>
                </div>*@
</body>

</html>